body {
    background: black;
    width: 100vw;
    height: 100vh;
}

body.game{
    overflow:hidden;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button {
    background-color: #236BB3; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
        background-color: black; 
        color: white;
        border: 2px solid #236BB3;
}

#home{
    margin-left: 20%;
    margin-right: 20%;
}

#infos{
    margin-top: 20mm;
    font-family: Arial, Helvetica, sans-serif;
    color: #236BB3;
    font-size: 20px;
    margin-bottom: 10mm;
}

#container1{
    width: 100%;
    text-align : center;
}

#container2{
    width: 100%;
}


#collisionCanvas{
    opacity: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
  }
  .one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align : center;
  }
  .two {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    text-align : center;
  }
  .three {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    text-align : center;
  }
  .four {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    text-align : center;
  }


  .wrapper1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: auto;
  }
  .one1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    text-align : center;
    margin: auto;

  }
  .two1 {
    grid-column: 3 / 3;
    grid-row: 1;
  }

.margin1{
    margin: 50px;
}